.Skills h2 {
	font-weight: 600; 
	font-size: 25px; 
}

.wrap{
	max-width: 860px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.row > ul li{
	list-style: none !important;
}

.row > ul li em{
	display: block;
	margin-bottom: 5px;
}

.row > ul li div{
	margin-bottom: 35px;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	background:linear-gradient(left, gray, black);
	height: 42px;
	overflow: hidden;
}

.row > ul li div span{
	height: 42px;
	width: 50%;
	display: block;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.row > ul li.adobe div span { background:linear-gradient(left, #ff0, rgb(237, 206, 34)); width: 80%; }
.row > ul li.react div span { background:linear-gradient(left, #ff0, rgb(237, 206, 34)); width: 65%; }
.row > ul li.es6 div span { background:linear-gradient(left, #ff0, rgb(237, 206, 34)); width: 50%; }
.row > ul li.node div span { background:linear-gradient(left, #ff0, rgb(237, 206, 34)); width: 35%; }
.row > ul li.redux div span { background:linear-gradient(left, #ff0, rgb(237, 206, 34)); width: 25%; }
/* .row ul li.javascript div span { background:linear-gradient(left, #ff0, rgb(237, 206, 34)) }
.row ul li.seo div span { background:linear-gradient(left, #ff0, rgb(237, 206, 34)); width: 60%; }
.row ul li.unix div span { width: 65%; background:linear-gradient(left, #ff0, rgb(237, 206, 34)); } */

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
  }
  @-webkit-keyframes fadeInLeft {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  @keyframes fadeInLeft {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(-100%, 0, 0);
	  -ms-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}100% {
	  opacity: 1;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}
  }
  
  