.wrap{
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}
  
  .social-media {
	position: relative;
	margin-top:10%;
	margin-left:60%;
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
  }
  
  /* Icons */
  
  .social-media a {
	color:#fff;
	background: #ff0;
	border-radius:4px;
	text-align:center;
	text-decoration:none;
	font-family:fontawesome;
	position: relative;
	display: inline-block;
	width:40px;
	height:28px;
	padding-top:12px;
	margin:0 2px;
	-o-transition:all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	 -webkit-font-smoothing: antialiased;
  }
  
.social-media a:hover {
	background: rgb(203, 203, 19);
  }
  
  /* pop-up text */
  
  .social-media a span {
	color:#666;
	position:absolute;
	font-family:sans-serif;
	bottom:0;
	left:-25px;
	right:-25px;
	padding:5px 7px;
	z-index:-1;
	font-size:14px;
	border-radius:2px;
	background:#fff;
	visibility:hidden;
	opacity:0;
	-o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  /* pop-up text arrow */
  
  .social-media a span:before {
	content:'';
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	position:absolute;
	bottom:-5px;
	left:40px;
  }
  
  /* text pops up when icon is in hover state */
  
  .social-media a:hover span {
	bottom:50px;
	visibility:visible;
	opacity:1;
  }
  
  /* font awesome icons */
  
  .social-media a:nth-of-type(1):before {
  content:'\f09a';
  }
  .social-media	a:nth-of-type(2):before {
  content:'\f099';
  }
  .social-media a:nth-of-type(3):before {
  content:'\f0d5';
  }
  .social-media a:nth-of-type(4):before {
  content:'\f113';
  }
  .social-media a:nth-of-type(5):before {
  content:'\f17d';
  }
  .social-media a:nth-of-type(6):before {
  content:'\f1cb';
  }