.Work h2 {
	font-weight: 600; 
	font-size: 25px; 
}

.wrap{
	margin: 0 auto;
	position: relative;
	padding: 0 21px;
}

.Work p {
	padding-top: 7px; 
}

.chip {
	background-color: #ff0;
	font-weight: 600; 
}

.collapsible {
	margin-top: 10%; 
}