.Profil {
	height: 70vh; 
	margin: 20vh 0 0 0; 
}

h1 {
	font-weight: 800;
}

h2 {
	font-weight: 200;
	font-size: 30px; 
}

.Profil img {
	width: 120px;
}

.Profil-image {
	width: 150px; 
	margin-left: auto;
    margin-right: auto;
}

a {
	text-align:center;
	text-decoration:none;
	color : black; 
}


.Profil-text span {
	padding-right: 30px; 
}

@media (max-width: 640px) {
	.Profil-image {
		width: 120px; 
		margin-left: auto;
		margin-right: auto;
	}
	}